<div class="header">
<% if @list.present? %>
  <p><strong><%= @list.name %></strong></p>
  </div>

<div class="movies">
   <%= link_to "Add new movie", new_list_bookmark_path(@list), class: "btn btn-success" %>
   <div class="movieCard">
  <% if @list.bookmarks.any? %>
    <ul>
      <% @list.bookmarks.each do |bookmark| %>
        <li>
          <strong><%= bookmark.movie.title %></strong>
          <br>
          Your comment: <%= bookmark.comment %>
          <%= link_to "Edit", edit_list_bookmark_path(@list, bookmark), class: "btn btn-warning btn-sm" %>

           <%= link_to "Delete",
            bookmark_path(bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-danger btn-sm"
  %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No movies yet.</p>
  <% end %>
    </div>
</div>
  <%= link_to "Edit this list", edit_list_path(@list), class: "btn btn-primary" %>

  <%= link_to "Delete this list",
        list_path(@list),
        data: {  turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "btn btn-danger"
  %>

  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>


<% else %>
  <p class="text-danger">List not found.</p>
<% end %>
